@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: black;
  --secondary-color: #016bed;
  --dark-color: #031b44;
  --light-color: #ffffff;
}

/* Base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  /* background-color: var(--primary-color); */
  background-color: var(--light-color);
  /* color: white; */
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--secondary-color);
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  font-size: 20px;
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Nav bar */
.navbar {
  background-color: rgb(63, 63, 63);
  background-color: var(--primary-color);
  color: var(--light-color);
  height: 90px;
  border-bottom: 1px solid var(--secondary-color);
  /* border-top: 4px solid red; */
  /* border-left: 4px solid red; */
  /* border-bottom: 1px solid white;*/
  /* border-right: 4px solid red;  */
}

.navbar .flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar a {
  opacity: 0.8;
  font-weight: bold;
  font-size: 18px;
  color: var(--light-color);
  padding: 10px;
  margin: 0 5px;
  /* outline: auto; */
}

.navbar a:hover {
  opacity: 1;
  border-bottom: 2px var(--light-color) solid;
}

.logo {
  font-weight: bold;
  font-size: 50px;
  color: var(--secondary-color);
}

.logo:hover {
  cursor: pointer;
}

/* Showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: var(--light-color);
  position: relative;
  border-bottom: 2px solid var(--secondary-color);
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 50px;
  overflow: visible;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}

.showcase-form .form-control {
  background-color: var(--secondary-color);
  margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  color: var(--light-color);
  background-color: var(--secondary-color);
  border: 0;
  border-bottom: 1px solid var(--dark-color);
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input[type="submit"] {
  font-size: 15px;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::before,
.showcase::after {
  content: "";
  background-color: var(--light-color);
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  transform: skewY(-odeg);
  -webkit-transform: skewY(-0deg);
  -moz-transform: skewY(-0deg);
  -ms-transform: skewY(-0deg);
}

/* Stats */
.stats {
  padding-top: 100px;
}

.stats-heading {
  font-size: 25px;
}

.stats .grid h3 {
  color: var(--dark-color);
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
  color: var(--secondary-color);
}

.stats .grid {
  border: 2px solid var(--primary-color);
  padding-top: 30px;
}
/* Cli */
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.cli h3 {
  color: var(--light-color);
}

/* Cloud */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}
